body{
    margin: 0;
    font-family: extrude;
}
html { 
    background: url(waterfall.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: crisp-edges;
}
header{

    margin: 0;
}
@font-face{
    font-family: 'extrude';
    src: url(Extrude-90aK.ttf);
    font-style: normal;
    font-weight: 100;
}
header h1{
    font-weight: normal;
    clear: both;
    margin: auto;
    text-align: center;
    font-size: 40px;
    color:#b46cac;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-top: -70px;
}
nav ul li{
    margin-right: 130px;
    font-size: 26px;
}
nav ul li a:visited{
    text-decoration: none;
    color: #f838c8;
}
nav ul li a:active{
    text-decoration: none;
    color: #f838c8;
}
nav ul li a:hover{
    text-decoration: none;
    color: #f838c8;
}
#normal{
    color: #999 !important;
}
.col{
    float: left;
}
footer{
    clear: both;
}
.center{
 
    display: block;
    margin: auto;
    max-width: 40%;
    
}

#bottom-bar {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    
}
.social{

    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -43px;
}
.social a{
    margin: 30px;
}
.sheet{
    margin-top: 30px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color:#f838c8 !important;
}
.digging{
    color:#f838c8 !important;
}
.sheet a:visited{
    text-decoration: none;
    color: #f838c8;
}
.sheet a:hover{
    text-decoration: none;
    color: #f838c8;
}
.sheet a:active{
    text-decoration: none;
    color: #f838c8;
}
.albums{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -38px;
    margin-top: 30px;
    filter: brightness(1.3);
}
figcaption{
    
    text-align: center;
    font-size: 15px;
    color: #999;
    position: absolute;
    margin-left: 30px;
    margin-top: -9px;
}
.picture{
    margin: 10px;
}
.break {
    flex-basis: 100%;
    height: 40px;
  }
  .hearsetext{
      display: none;
      margin-left: 28px;
  }
  .hearsephoto:hover + .hearsetext{
      display: block;
  }
  .vistatext{
    display: none;
    margin-left: 23px;
}
.vistaphoto:hover + .vistatext{
    display: block;
}
.tomtext{
    display: none;
    margin-left: 45px;
}
.tomphoto:hover + .tomtext{
    display:block;
}
.orangetext{
    display: none;
    margin-left: 29px;
}
.orangephoto:hover + .orangetext{
    display: block;
}
.preludetext{
    display:none;
    margin-left: -16px;
}
.preludephoto:hover + .preludetext{
    display: block;
}
#mutebtn{
    background:url(Buttons/play.png) no-repeat;
    filter: invert(1);
    border: none;
    width: 46px;
    height: 32px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    outline: none;
}
#playpausebtn{
    background:url(Buttons/on.png) no-repeat;
    filter: invert(1);
    border: none;
    width: 46px;
    height: 32px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    outline: none;
}